name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build Docker Image
        run: docker build -t patient-backend ./backend

      - name: Trivy Scan
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: patient-backend
